.navbar{
    display: flex;
    justify-content: space-around;
    padding: 0px;
    box-shadow: 0 1px 3px -2px black;
    background-color: white;
    transition: background-color 0.5s ease;
    align-items: center;
    
}

.navbar-shop{
    display: flex;
    justify-content: space-around;
    padding: 0px;
    box-shadow: 0 1px 3px -2px transparent;
    background-color: transparent; /* Fondo transparente */
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Extender la Navbar al ancho completo */
    z-index: 1000;
    
}

.navbar-shop2{
    display: flex;
    justify-content: space-around;
    padding: 0px;
    box-shadow: 0 1px 3px -2px black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Extender la Navbar al ancho completo */
    background-color: white; 
    backdrop-filter: blur(8px);
    transition: background-color 0.5s ease;
    z-index: 1000;
    align-items: center;
    
}
.nav-logo-shop{
    width: 350px;
    filter: brightness(0) invert(1);
    display: flex;
    align-items: center;
    gap: 10px;
    height: 120px;
    
}
.nav-logo{
    width: 350px;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 120px;
    
    
}
.nav-logo p{
    color: #171717;
    font-size: 38px;
    font-weight: 300;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: black;
    font-size: 20px;
    font-weight: 300;
}

.nav-menu-shop{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: white;
    font-size: 20px;
    font-weight: 300;
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
    color: #223D1E;
}
.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: black;
}
.nav-menu-shop hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: white;
}

.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
}
.nav-login-cart button{
    width: 157px;
    height: 58px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 20px;
    font-weight: 300;
    background-color: white,;
    cursor: pointer;
}
.nav-login-cart button:active{
    background-color: #f3f3f3;
}
.nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: black;
    color: white;
}
.imageLOGOCUT{
    display: none;
}

.nav-dropdown{
    display: none;
}
@media(max-width:800px){
    .navbar{
        width: 8px 0px;
        gap: 0;
    }
    
    .nav-logo{
        transform: scale(0.8);
        
    }
    .nav-logo-shop{
        transform: scale(0.8);
    }
    
    .nav-menu{
        display: none;
        height: 70px;
        top: 50px;
        width: 100%;
        position: absolute;
        justify-content: center;
        top: 50px;
    }
    .nav-menu-shop{
        display: none;
        height: 70px;
        top: 50px;
        width: 100%;
        position: absolute;
        justify-content: center;
        top: 50px;
    }

    .nav-menu-visible{
        display: flex;
    }
    
    .nav-dropdown.open{
        transform: rotate(90deg);
    }

    .nav-login-cart{
        gap: 30px;
    }
    .imageLOGOCUT{
        display: block;
        width: 150px;
    }
    .imageLOGOFULL{
        display: none;
      }
    .nav-dropdown{
        display: block;
        width: 30px;
        rotate: -90deg;
        transition: 0.5s;
    }
    
}



